<div class="header" id="myHeader">
  <div class="topnavigation">
    <h1 class="logo" style="color: orangered;">DONATIONALY</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>