<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #heading {
            font-family: fantasy;
            font-weight: bolder;
            font-size: xx-large;
            text-align: center;
            color: beige;
            background-color: black;
            border-radius: 10px;
        }
        body{
            background-color: beige;
            /*background-image: url(https://www.dynamics-hr-management.com/images/slider_dynamics_hr_management_for_ngo_m.jpg);*/
        }
        #ie {
            color: black;
            font-weight: bolder;
            font-size: 20px;
            text-align: justify;
            margin: 15px;
            border: 2px solid black;
            border-radius: 10px;
            padding: 20px;
            background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.3)), url(https://news.usc.edu/files/2014/12/iStock_000049281378_small-824x549.jpg);
        }
        #de {
            text-align: justify;
            margin: 10px;
            border: 2px solid black;
            padding: 15px;
        }
        #container{
            display: flex;
        }
        #leftist{
            width: 50%;
        }
        #mapping{
            width: 50%;
        }
        span{background-color: beige;}
    </style>
</head>
<body>
    <h1 id="heading">ABOUT US</h1>
    <div id="container">
        <div id="leftist">
            <div id="ie">
            <p>
                The consequences of poverty are manifold and it impacts families through generations. An intervention at the right time, like educating one generation or providing livelihood to increase income can help families break the cycle of generational poverty.
                India is population rich. Our people are our resources and if each one of us commits to giving regularly, we will be strong enough to solve our problems. We could even be audacious enough to say that we as a community may not need any aid if we make giving a way of life.
            </p>
            <p>
                At Donationaly, we believe that everybody should have a reasonable quality of life. A life in which they need not struggle or suffer to make ends meet. A life that allows one to provide reasonable safety and security to their families and children. A life that one can live with dignity and in their own terms. We believe, a reasonable quality of life can be achieved if individuals are covered on two fronts: they are Free from Exploitation and they have the Ability to Cope with Life Crises.
            </p>
            <p>
                Donationaly’s goal is to put advanced nonprofit software in the hands of organizations both large and small, regardless of their budgets. The platform offers enterprise solutions to 501(c)(3) certified charities that want to raise awareness for their cause through social fundraising, as well as a peer-to-peer option for individuals. Best of all? The advanced charity product offers flexible pricing—with no contracts or subscription fees.
            </p>
            <p>
                <q>The idea of Donationaly is very simply here to bridge the gap between two sets of people - people who want to give, who want to try and make a difference along with those who are doing phenomenal work but don't know how to reach out to the people who want to suport them.</q>
            </p>
            </div>
        </div>
        <div id="mapping">
           <img id="de" src="assets/Map.png" width=600 height=650 alt="me">
        </div>
    </div>

</body>
</html>
