<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Gallery of Donationaly. Photos realted to Donationaly.">
  <title>Gallery</title>
  
  <link rel="stylesheet" type="text/css" href="css/footer.css">
  <link rel="stylesheet" href="css/gallery.css">
  <script src="https://kit.fontawesome.com/2b6852e4e4.js" crossorigin="anonymous"></script>

</head>

<body>

  <h1>The Purest of Hearts</h1>
  <div class="grid-container">
    <div>
      <img class='grid-item' src='https://images.unsplash.com/photo-1473280025148-643f9b0cbac2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=755&q=80' alt=''>
      <p>"I'm so happy today!"</p>
    </div>
    <div>
      <img class='grid-item' src='https://images.unsplash.com/photo-1506370612293-360919ece3d9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=740&q=80' alt=''>
      <p>"I see you!."</p>
   a>"I'm the baby of the house!"</p>
    </div>
    <div>
      <img class='grid-item' src='https://images.unsplash.com/photo-1489451058181-433dc9ffa757?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80' alt=''>
      <p>"We learn so fast"</p>
    </div>
    <div>
      <img class='grid-item' src='https://images.unsplash.com/photo-1521493959102-bdd6677fdd81?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80' alt=''>
      <p>"C'mon friend!"</p>
    </div>
    <div>
      <img class='grid-item' src='https://images.unsplash.com/photo-1496081964234-3fd7780c05b4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=747&q=80' alt=''>
      <p>"A rose for mommy!"</p>
    </div>
    <div>
      <img class='grid-item' src='https://images.unsplash.com/photo-1485110168560-69d4ac37b23e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=800&q=80' alt=''>
      <p>"Are you gonna throw the ball?"</p>
    </div>
    <div>
      <img class='grid-item' src='https://images.unsplash.com/photo-1469571486292-0ba58a3f068b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80' alt=''>
      <p>"Together we can!"</p>
    </div>
    <div>
      <img class='grid-item ' src='https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80' alt=''>
      <p>"Dis my fren!"</p>
    </div>
  </div>
  <%- include('partials/footer') %>
</body>

</html>
