<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charity</title>
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>
    <%- include('partials/header') %>

        <div class="title_1">
            <div class="animated fadeIn">
                <h1>It's Never Too Late to <br>make a difference.</h1>
                <button class="btn third">Donate Now</button>
            </div>
        </div>

        <div class="types_of_users">
            <div class="card">
                <img src="assets/ngo.png" alt="Avatar">
                <h1><b>Register as an NGO</b></h1>
                <p>Work for a better cause</p>
            </div>
            <div class="card">
                <img src="assets/volunteer.png" alt="Avatar">
                <h1><b>Donations</b></h1>
                <p>Donate for good</p>
            </div>
        </div>
        <div class="attractions">
            <div class="slogan">
                <h1>Giving is Virtue.</h1>
                The measure of a life, after all, is not its duration, but its donation.
            </div>
            <hr width="20%" style="height: 2px; background:teal;">
            <div class="photoscol">
                <div class="photosrow1">
                    <img src="https://oyako-de-egao.com/wp-content/uploads/2020/12/photo-1488521787991-ed7bbaae773c-2-768x512.jpeg"
                        width="80%">
                </div>
                <div class="photosrow2">
                    <img src="https://i.pinimg.com/564x/c2/c1/15/c2c1158b5d2b0de3e32fb98c16db4849.jpg">
                    <img src="https://i.pinimg.com/564x/f1/57/37/f157372118d1f771e05baa3730259f2c.jpg">
                </div>
            </div>
        </div>
        <div class="video">
            <h1>Imagine the world if 600 million girls unlocked their power?</h1>
            It’s time to put girls in control. When we do, everyone wins.
            <hr width="20%" style="height: 2px; background: orangered;">
            <br>
            <iframe width="63%" height="66.3%" src="https://www.youtube.com/embed/1e8xgF0JtVg">
            </iframe>

            <div class="LCC">
                <div class="card">
                    <img src="assets/ngo.png" alt="Avatar">
                    <h1><b>Register as an NGO</b></h1>
                    <p>Work for a better cause</p>
                </div>
                <div class="card">
                    <img src="assets/volunteer.png" alt="Avatar">
                    <h1><b>Donations</b></h1>
                    <p>Donate for good</p>
                </div>
            </div>
        </div>
        
        
</body>

</html>