<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact</title>
    <link rel="stylesheet" href="css/LoginStyle.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
  </head>

  <body>
    <%- include('partials/header') %>
    <div class="background">
  <div class="container">
    <div class="screen">
      <div class="screen-header">
        <div class="screen-header-left">
          <div class="screen-header-button close"></div>
          <div class="screen-header-button maximize"></div>
          <div class="screen-header-button minimize"></div>
        </div>
        <div class="screen-header-right">
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
        </div>
      </div>
      <div class="screen-body">
        <div class="screen-body-item left">
          <div class="app-title">
            <span>LOGIN</span>
          </div>
          <div class="app-contact">Don't have an account?<br><a class="register" href="/register">REGISTER NOW!</a></div>
        </div>

        <div class="screen-body-item">
          <div class="app-form">
            <form class="" action="/login" method="post">
              <div class="app-form-group">
                <input class="app-form-control" placeholder="USERNAME" value="" name="user">
              </div>
              <div class="app-form-group">
                <input class="app-form-control" type="password" placeholder="PASSWORD" name="password">
              </div>
              <div class="app-form-group buttons">
                <button class="app-form-button" type="submit">LOGIN</button>
              </div>
            </form>



          </div>
        </div>


      </div>
    </div>

  </div>
</div>


  </body>
</html>
