<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Register</title>
  <link rel="stylesheet" href="css/ContactStyles.css">
</head>

<body>
  <div class="background">
    <div class="container">
      <div class="screen">
        <div class="screen-header">
          <div class="screen-header-left">
            <div class="screen-header-button close"></div>
            <div class="screen-header-button maximize"></div>
            <div class="screen-header-button minimize"></div>
          </div>
          <div class="screen-header-right">
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
          </div>
        </div>
        <div class="screen-body">
          <div class="screen-body-item left">
            <div class="app-title">
              <span>REGISTER</span>
              <span>NOW</span>
            </div>
            <!-- <div class="app-contact">CONTACT INFO : +62 81 314 928 595</div> -->
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_kltum0us.json" background="transparent" speed="0.6" style="width: 260px; height: 260px;" loop autoplay></lottie-player>
          </div>


          <div class="screen-body-item">
            <div class="app-form">
              <form class="" action="/register" method="post">
                <div class="app-form-group">
                  <input class="app-form-control" placeholder="NAME" value="" name="name">
                </div>
                <div class="app-form-group">
                  <input class="app-form-control" placeholder="EMAIL" name="email">
                </div>
                <div class="app-form-group">
                  <input class="app-form-control" placeholder="CONTACT NO" name="contactNo">
                </div>
                <div class="app-form-group">
                    <input class="app-form-control" placeholder="DOB MM-DD-YYYY" name="dob">
                </div>
                <div class="app-form-group message">
                  <input type="password" class="app-form-control" placeholder="PASSWORD" name="pass1">
                </div>
                <div class="app-form-group message">
                    <input type="password" class="app-form-control" placeholder="RE-TYPE PASSWORD" name="pass2">
                </div>
                
                <div class="app-form-group buttons">
                  <button class="app-form-button" type="reset">RESET</button>
                  <button class="app-form-button" type="submit">REGISTER</button>
                </div>
              </form>



            </div>

          </div>


        </div>
      </div>

    </div>
  </div>


</body>

</html>
