#heading {
    font-family: fantasy;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    color: beige;
    background-color: black;
    border-radius: 10px;
}
body{
    background-color: beige;
    /*background-image: url(https://www.dynamics-hr-management.com/images/slider_dynamics_hr_management_for_ngo_m.jpg);*/
}
#ie {
    color: black;
    font-weight: bolder;
    font-size: 20px;
    text-align: justify;
    margin: 15px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.3)), url(https://news.usc.edu/files/2014/12/iStock_000049281378_small-824x549.jpg);
}
#de {
    text-align: justify;
    margin: 10px;
    border: 2px solid black;
    padding: 15px;
}
#container{
    display: flex;
}
#leftist{
    width: 50%;
}
#mapping{
    width: 50%;
}
span{background-color: beige;}