
.about-upper{
    display: flex;
}

.about-container{
    width: 85%;
    margin: auto;
    background-color: whitesmoke;
}

.about-right{
    padding: 15px;
    padding-top: 25px;
}

.about-left{
    padding: 15px;
    text-align: justify;
}

.about-heading{
    background-color: rgb(167, 164, 164);
    padding: 10px;
    margin: 10px;
    font-family: "Akaya Teliviga";
    font-size: 30px;
    border-radius: 5px;
}

.about-right img{
    filter: grayscale(100%);
	border-radius: 5px;
}

.about-right img:hover {
    filter: grayscale(0%);
	border-radius: 5px;
}

.about-quote{
    font-style: italic;
}

.about-quote:hover{
    background-color: beige;
}

.about-left{
    font-family: "Lobster";
    font-size: 18px;
}

body {

  }


.about-map{
    text-align: center;
    padding-top: 15px;
}

area{
    display: block;
    background-color: rgb(253, 215, 0);
}