@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.animated {
  padding-top: 140px;
  margin-bottom: 60px;
  -webkit-animation-duration: 10s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  font-size: 20px;
  text-align: left;
  color: #2da34b;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.title_1 {
  position: sticky;
  background: url("../assets/cover_bg_1.jpg") no-repeat;
  width: 100%;
  height: 40em;
}

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.btn:hover,
.btn:focus {
  color: #f50589;
  outline: 0;
}

.third {

  border-color: #f50589;
  color: #fff;
  box-shadow: 0 0 40px 40px #f50589 inset, 0 0 0 0 #f50589;
  transition: all 150ms ease-in-out;
}

.third:hover {
  border-color: #f50589;
  box-shadow: 0 0 10px 0 transparent inset, 0 0 10px 4px transparent;
}

.types_of_users {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f7acde;
  width: 100%;
  height: 10em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card {
  font-size: small;
  height: auto;
  text-align: center;
}

.card b {
  font-size: larger;
  font-family: 'Redressed', cursive;
}

.card img {
  width: 5em;
}

.attractions {
  position: relative;
  width: 100%;
  background-color: aliceblue;
}

.ngos {
  position: relative;
  width: 100%;
  background-color:#f7acde;
}
.slogan {
  font-family: 'Quicksand', sans-serif;
  padding-top: 2em;
  text-align: center;
}

.slogan h1 {
  font-size: 6em;
  font-family: 'Quicksand', sans-serif;
}

.photoscol{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 5em;
    padding-bottom: 1em;
}

.photosrow {
    padding: 2px;
    text-align: center;
    justify-content:space-evenly;
    display: flex;
    flex-direction: row;
}

.video{
    position: relative;
    width: 100%;
    height: 50em ;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    background-color:rgb(253, 199, 117);
    padding-top: 5em;
}
.video h1 {
    font-size: 3em;
  font-family: 'Quicksand', sans-serif;

}

.LCC {
    background-color: rgb(253, 199, 117);
    width: 100%;
    height: 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
  
.gallery{
    position: relative;
    width: 100%;
    background-color:rgb(246, 189, 252);
    padding-top: 5em;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.gallery h1 {
    font-size: 4em;
  font-family: 'Quicksand', sans-serif;

}

.gallery img{
    width: 30%;
}

.main-div {


  background-color: #fff;
  display: flex;
  padding: 2%;
}

@media screen and (max-width: 520px) {
  .main-div {
    flex-direction: column;
  }
}

.left-div {
  padding-right: 20%;
  padding-left: 10%;

}

.image-div {
  float: right;
}

.image-div img {
  width: 550px;
  height: 500px;
}



.custom-shape-divider-top-1615984118 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1615984118 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 88px;
}

.custom-shape-divider-top-1615984118 .shape-fill {
    fill: #f7acde;
}

.video .custom-shape-divider-top-1615984118 .shape-fill {
    fill: #f7acde;
}

.gallery .custom-shape-divider-top-1615984118 .shape-fill {
    fill: rgb(253, 199, 117);
}

.ngos .custom-shape-divider-top-1615984118 .shape-fill {
  fill: aliceblue;
}


.grid-container {
  columns: 2;
  column-gap: 1.5rem;
  width: 50%;
  margin: 0 auto;
}
.grid-container div {
  width: 150px;
  margin: 0 1.5rem 1.5rem 0;
  width: 100%;
  border: solid 2px black;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;

}
.grid-container div:hover img {
  filter: grayscale(0);
}
.grid-container div:hover {
  border-color: coral;
}
.grid-container div img {
  width: 100%;
  filter: grayscale(100%);
  border-radius: 5px;
  
}
.grid-container div p {
  margin: 5px 0;
  padding: 0;
  text-align: center;
  font-style: italic;
}



.items {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  user-select: none;
  cursor: pointer;
}


.items.active {
  background: rgba(255,255,255,0.3);
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.item {
  display: inline-block;
  background: skyblue;
  max-height: 600px;
  max-width: 800px;
  margin: 2em 1em;

}

.item img{
  padding: 30px;
  float: left;
  width: 50%;
}

.ngo-content{
  word-wrap: break-word; 
  width: 50px;
}